.app-shell {
  min-height: 100vh;
}

.secondary-layout {
  padding: 110px 48px 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .secondary-layout {
    padding: 100px 16px 24px;
  }
}

